
<div style="font-family:arial;width:300px;height:100px;border:2px solid #e9ecef;border-radius:5px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;color:black;font-size:16px;position:absolute;background:white;overflow:hidden">
       <form >
            <img src={{data.url}} style="margin: 0%;">
            <input  id = "token" class="d-none" type="text" value={{data.token}}>
            <input  id = "client_key" class="d-none" type="text" value={{data.client_key}}>
            <input  id = "ip" class="d-none" type="text" value={{data.ip}}>
            <div  style="display: flex; flex-direction: row;justify-content: center; text-align: center;align-items: center;">
              <input  id = "text_cap" type="text" style="width: 70%;height: 45px !important;border-bottom-left-radius: 5px;border-color: #00c9a7;">
              <button id="send" style="width: 30%; height: 45px !important;border-bottom-right-radius: 5px;"> Send </button> 
            </div> 
        </form>
</div>
<script>
  $("#send").click(
    (event)=>
    {
        event.preventDefault();
        $.ajax('https://faircaptcha.herokuapp.com/captcha/clientSite/', {
                       type: 'POST',  // http method
                       data: { 
                           text : $("#text_cap").val(),
                           token : $("#token").val(),
                           client_key : $("#client_key").val(),
                           type :"image"
                       },  // data to submit
                       success: function (data, status, xhr) {
                        console.log(data)
                        $("#cap").css("display","none");
                       },
                       error: function (jqXhr, textStatus, errorMessage) {
                              console.log("error")
                       }  });
       }
  )
</script>
